// FOOTER :: START

#gallery.gallery.mfp-hide
  .container
    .gallery__block.js-gallerySlider
      -for(var i = 0; i < 5; i++)
        .gallery__block-item
          != "Some content"



// FOOTER :: END