// SOCIAL :: START
-
  var langArr = [
    'Русский',
    'English'
  ];

.lang
  -for(var i = 0, len = langArr.length; i < len; i++)
    a(
      href='#'
      class='lang__name'
    )!= langArr[i]

    if (i !== len - 1)
      span.lang__line!= '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;'

// SOCIAL :: END
