// MENU :: START

#menu.menu.animated

  .row

    img(src="./img/ImageBgLight_main--0.png" class="menu__img menu__img--bg")

    .container

      a(href="#").menu__logo.icon-menuLogo

      img(src="./img/ImageGirl_menu.png" class="menu__img menu__img--girl")

      .menu__row
        a(href="#" class="menu__back" js-backMenu)!= "<&nbsp;&nbsp;НАЗАД"

        +customBtnLink("about.html", "cbutton--hover menu__cbtn", "О ГРУППЕ")
        +customBtnLink("programs.html", "cbutton--hover menu__cbtn", "ПРОГРАММЫ")
        +customBtnLink("school.html", "cbutton--hover menu__cbtn", "ШКОЛА")
        +customBtnLink("contacts", "cbutton--hover menu__cbtn", "КОНТАКТЫ")

        include ../components/_language
        include ../components/_social

// MENU :: END
