// FOOTER :: START

#callback.modal.mfp-hide

  form.modal__form(js-modal)

    p!= "14 чел. / 350 000 p."
    span!= "ЯПОНСКИЕ СЕЗОНЫ"

    .modal__form-field
      input(type="text" name="name" placeholder="ВАШЕ ИМЯ")

    .modal__form-field.modal__form-field--phone
      input(type="tel" name="phone" placeholder="ВАШ НОМЕР")

    .modal__form-field.modal__form-field--email
      input(type="email" name="email" placeholder="ПОЧТА")

    +customBtnSubmit('cbutton--active modal__cbtn', "ОТПРАВИТЬ")

// FOOTER :: END