// MODALS :: START


#thanks.modal.mfp-hide

  .modal__form.modal__form-choose.is-active

    span!= "Заявка отправлена"
    
    .modal__thanks
      p(data-message) Ваша заявка успешно отправлена. Спасибо

    +customBtnSubmit('cbutton--active modal__cbtn js-close-modal', "Закрыть")

    
