// ORDER :: START

#order.order
  img(src="./img/ImageBg_order.png" class="")

  .order__block

    .order__phone-wrap
      p.order__phone-title!= "Позвонить"
      a(href="tel:89629996662").order__phone-number!= '8 (962) 999-666-2'

    .order__email-wrap
      p.order__email-title!= "Написать"
      a(href="mailto:info@taiko.moscow").order__email-number!= 'info@taiko.moscow'

    form.order__form(js-registrationOrder)

      .order__form-field
        input(type="text" name="name" placeholder="Ваше имя")

      .order__form-field.order__form-field--phone
        input(type="tel" name="phone" placeholder="ваш номер")

      .order__form-field.order__form-field--email
        input(type="email" name="email" placeholder="Почта")

      p.order__form-title!= "Способ связи"

      .order__form-social
        input(type="hidden" name="type")
        a(href="#" title="Phone" class="order__form-link")
          i.icon-phone
          i.icon-phone_hover
        a(href="#" title="Email" class="order__form-link")
          i.icon-email
          i.icon-email_hover
        a(href="#" title="WhatsApp" class="order__form-link")
          i.icon-whatsapp
          i.icon-whatsapp_hover
        a(href="#" title="Telegram" class="order__form-link")
          i.icon-telegram
          i.icon-telegram_hover
        a(href="#" title="Viber" class="order__form-link")
          i.icon-viber
          i.icon-viber_hover

      .order__form-field.order__form-field--date
        input(id="date" type="text" name="date" placeholder="Дата Мероприятия")

      +customBtnSubmit('cbutton--active order__cbtn', "Отправить")

// ORDER :: END
