// SOCIAL :: START
-
  var socialArr = [
    'INSTAGRAM',
    'YOUTUBE',
    'FACEBOOK',
    'VKONTAKTE'
  ];

.social
  -for(var i = 0, len = socialArr.length; i < len; i++)
    a(
      href='javascript:void(0);'
      class='social__name'
    )!= socialArr[i]

    if (i !== len - 1)
      span.social__line!= '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;'

// SOCIAL :: END
