---
title: Taiko - News
bodyClass: body
outClass: news
---
extends shared/_layout
block content


  .news__main
    .container

      +customBtn('news__main-cbtn wow wowFadeUp', "Новости")

      +newsBlock(3, "news__wrap-elem--alone wow wowFadeUp")

      .news__wrap
        -for(var i = 0; i < 2; i++)
          a.news__wrap-elem(href="", data-animation-delay=".5s", class!= (i === 0) ? "news__wrap-elem--full wow wowFadeUp" : "news__wrap-elem--alone wow wowFadeUp")
            if(i === 0)
              img(src="./img/ImagePreview-full_news.jpg")
            else
              img(src="./img/ImagePreview-3_news.jpg")
            .news__wrap-hidden
              p!= "Открытие<br/>Юникло"


block footer
  include ./components/_footer
