- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)
    use(xlink:href= svgSprite + '#' + name)


mixin newsBlock(idx, className)
  .news__wrap
    -for(var i = 0; i < idx; i++)
      div.news__wrap-elem(class="news__wrap-elem--" + i)
        .news__wrap-hidden
          p!= "ОТКРЫТИЕ<br/>ЮНИКЛО"


mixin customBtn(className, text)
  a.cbutton(href="javascript:void(0);" class= className)
    .cbutton__block
      .cbutton__block-bg.cbutton__block-bg--0
      .cbutton__block-bg.cbutton__block-bg--1
    .cbutton__text!= text

