// FOOTER
.footer
  background: $colorBlack
  min-height: 240px
  padding:
    top: 60px
    bottom: 63px
  +rmin(1440)
    min-height: 450px
    padding:
      top: 62px
      bottom: 80px
  +rmin(1920)
    min-height: 480px
    padding:
      top: 82px
      bottom: 97px

  .container
    max-width: 780px
    +rmin(1440)
      max-width: (1300 + (40 * 2)) * 1px

  .social
    margin-top: 40px
    +rmin(1440)
      margin-top: 93px
    +rmin(1920)
      margin-top: 103px

  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100px

  &__row
    width: 100%
    display: flex
    justify-content: space-between

  &__question
    a
      display: table
      transition: color 0.3s ease-in-out
      &:hover
        color: $colorFuelYellow
        transition: color 0.3s ease-in-out

    > p
      color: $colorNobel
      font-size: 12px
      letter-spacing: 1.6px
      +rmin(1440)
        font-size: 22px
      +rmin(1920)
        font-size: 24px

    &-phone,
    &-email
      position: relative
      font-weight: bold

      &:before
        content: ""
        position: absolute
        width: 100%
        height: 3px
        bottom: 0
        left: 0
        background: $colorFuelYellow
        visibility: hidden
        border-radius: 5px
        transform: scaleX(0)
        transition: .25s linear

      &:hover
        &:before,
        &:before
          visibility: visible
          transform: scaleX(1)

      font-size: 19px
      +rmin(1440)
        font-size: 33px
      +rmin(1920)
        font-size: 39px

  &__present
    cursor: pointer
    display: flex
    &:hover
      .footer__present-bg
        height: 100%
      .footer__present-icon
        bottom: -15px
        +rmin(1440)
          bottom: ((137 - 120) / 2) * 1px
      .footer__present-text
        p:first-child
          color: $colorFuelYellow
          transition: color 0.3s ease-in-out

    &-image
      position: relative
      width: 70px
      height: 87px
      margin-right: 20px
      +rmin(1440)
        width: 120px
        height: 137px
        margin-right: 34px

    &-bg
      width: 70px
      height: 70px
      background-color: $colorFuelYellow
      transition: height .3s ease-in-out, bottom .3s ease-in-out
      +rmin(1440)
        width: 120px
        height: 120px

    &-icon
      position: absolute
      left: -5px
      right: 0
      bottom: -25px
      margin: auto
      transition: bottom .3s ease-in-out
      transform: scale(0.5)
      +rmin(1440)
        left: 0
        bottom: 0
        transform: scale(1)

    &-text
      display: flex
      flex-direction: column
      justify-content: space-between
      transition: color 0.3s ease-in-out
      font-size: 10px
      +rmin(1440)
        font-size: 22px
      +rmin(1920)
        font-size: 24px

    &-title
      font-weight: bold

    &-size
      color: $colorNobel
