// HOMEPAGE

.homepage
  &__main
    position: relative
    min-height: 510px
    padding-top: 50px
    +rmin(1440)
      min-height: 860px
      padding-top: 73px
    +rmin(1920)
      min-height: 960px
      padding-top: 98px

    &-bg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: url("../img/ImageBg_main.jpg")
      background-repeat: no-repeat
      background-size: contain
      background-position: center
      +rmin(1024)
        background-attachment: fixed

    &-title
      position: relative
      z-index: 1
      text-align: center
      text-shadow: 0 0 50px rgba(0, 0, 0, 0.95)
      letter-spacing: 4px
      font-size: 18px
      +rmin(1440)
        font-size: 30px
      +rmin(1920)
        font-size: 40px

    &-cbtn
      margin-top: 10px


  &__program
    overflow: hidden
    position: relative
    min-height: 1080px
    background-color: $colorBlack
    +rmin(1440)
      min-height: 2040px

    .container
      z-index: 1
      position: absolute
      left: 0
      top: 0
      right: 0
      height: 100%
      padding-top: 95px
      +rmin(1440)
        padding-top: 145px
      +rmin(1920)
        padding-top: 175px

    &-bg
      position: absolute
      z-index: 0

      &--0
        z-index: 0
        top: 100px
        left: -20%
      &--1
        z-index: 1
        bottom: 0
        right: 0


    &-title
      font:
        weight: bold
      margin-bottom: 15px
      font-size: 30px
      +rmin(1440)
        font-size: 45px
      +rmin(1920)
        font-size: 60px

    &-subTitle
      font-size: 30px
      +rmin(1440)
        font-size: 45px
      +rmin(1920)
        font-size: 60px

    &-text
      margin:
        bottom: 50px
      font-size: 15px
      +rmin(1440)
        font-size: 25px
      +rmin(1920)
        font-size: 30px

    &-box
      width: 62%
      margin:
        left: auto
      padding:
        right: 180px
      line-height: 1.5
      margin:
        top: 50px
        bottom: 137px
      +rmin(1440)
        margin:
          top: 100px
          bottom: 247px
      +rmin(1920)
        margin:
          top: 120px
          bottom: 277px

    &-woman
      z-index: 1
      position: absolute
      right: 40px
      bottom: 50px
      max-width: 30%
      +rmin(1440)
        max-width: 100%

    &-video
      z-index: 0
      position: relative
      max-width: 680px
      height: 340px
      background-color: $colorNero
      +rmin(1440)
        max-width: 1080px
        height: 600px

      iframe
        width: 100%
        height: 100%


  &__news
    padding:
      top: 55px
      bottom: 67px
    background-color: $colorNero
    +rmin(1440)
      padding:
        top: 111px
        bottom: 127px

    &-title
      font:
        weight: bold
      text-align: center
      color: $colorFuelYellow
      margin-bottom: 20px
      font-size: 19px
      +rmin(1440)
        font-size: 30px
      +rmin(1920)
        font-size: 40px
