// ERROR
// ===============
.error
  color: $colorFuelYellow
  font-size: 12px
  font-weight: bold


// ANIMATION
// ===============
.animated
  animation-duration: 1s
  animation-fill-mode: both

// FADE-OUT
// ===============
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.fadeOut
  animation-name: fadeOut
  animation-duration: 0.8s


// FADE-IN
// ===============
@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fadeIn
  animation-name: fadeIn
  animation-duration: 0.8s


// SLIDE-IN-DOWN
// ===============
@keyframes slideInDown
  from
    transform: translate3d(0, -100%, 0)
    visibility: visible

  to
    transform: translate3d(0, 0, 0)

.slideInDown
  animation-name: slideInDown


// SLIDE-IN-UP
// ===============
@keyframes slideInUp
  from
    transform: translate3d(0, 100%, 0)
    visibility: visible

  to
    transform: translate3d(0, 0, 0)

.slideInUp
  animation-name: slideInUp


// ZOOM-IN
// ===============
@keyframes zoomIn
  from
    opacity: 0
    transform: scale3d(0.3, 0.3, 0.3)

  50%
    opacity: 1

.zoomIn
  animation-name: zoomIn


// SLIDE-IN-LEFT
// ===============
@keyframes slideInLeft
  from
    transform: translate3d(-100%, 0, 0)
    visibility: visible

  to
    transform: translate3d(0, 0, 0)

.slideInLeft
  animation-name: slideInLeft

