// ERROR
// ===============
.error
  color: red
  font-size: 12px


// ANIMATION
// ===============
.animated
  animation-duration: 1s
  animation-fill-mode: both

// FADE-OUT
// ===============
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

.fadeOut
  animation-name: fadeOut
  animation-duration: 0.8s


// FLIP-IN-X
// ===============
@keyframes slideInDown
  from
    transform: translate3d(0, -100%, 0)
    visibility: visible

  to
    transform: translate3d(0, 0, 0)

.slideInDown
  animation-name: slideInDown


// FLIP-IN-X
// ===============
@keyframes flipInX
  from
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    animation-timing-function: ease-in
    opacity: 0

  40%
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    animation-timing-function: ease-in

  60%
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    transform: perspective(400px)

.flipInX
  backface-visibility: visible !important
  animation-name: flipInX



