// SOCIAL

// =========================

%fontProperties
  color: $colorNobel
  font-weight: bold
  font-size: 24px

// =========================

.lang
  margin:
    top: 65px
    bottom: 116px
  letter-spacing: 0

  &__name
    @extend %fontProperties
    transition: color .3s ease-in-out

    &:hover
      color: $colorFuelYellow
      transition: color .3s ease-in-out

  &__line
    @extend %fontProperties

