// MENU

.menu
  display: none
  z-index: 100
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $colorBlack
  overflow: auto

  .is-activeMenu &
    display: block

  &__img
    z-index: 0
    position: absolute

    &--girl
      bottom: 0
      +rmin(1024)
        right: -15%
      +rmin(1440)
        right: -5%
      +rmin(1920)
        right: 0

    &--bg
      top: 0
      left: 0

  .container
    position: relative

  &__cbtn
    &:last-child
      margin-bottom: 0

    +rmin(1024)
      margin-bottom: 35px
    +rmin(1440)
      margin-bottom: 40px
    +rmin(1920)
      margin-bottom: 45px

  &__logo
    cursor: pointer
    z-index: 1
    position: relative
    display: block
    margin:
      left: auto
      right: auto

    +rmin(1024)
      margin-top: 40px
    +rmin(1440)
      margin-top: 50px
    +rmin(1920)
      margin-top: 60px

  &__row
    z-index: 1
    position: relative
    +rmin(1024)
      padding:
        top: 40px
        bottom: 77px
    +rmin(1440)
      padding:
        top: 50px
        bottom: 87px
    +rmin(1920)
      padding:
        top: 60px
        bottom: 97px

  &__back
    display: block
    font:
      weight: bold
    color: $colorNobel
    letter-spacing: 0
    transition: color 0.3s ease-in-out
    &:hover
      color: $colorFuelYellow
      transition: color 0.3s ease-in-out

    +rmin(1024)
      font-size: 20px
      margin:
        bottom: 31px
    +rmin(1440)
      font-size: 22px
      margin:
        bottom: 35px
    +rmin(1920)
      font-size: 24px
      margin:
        bottom: 39px

