// HOMEPAGE

.modal
  position: relative
  max-width: 600px
  min-height: 600px
  background-color: $colorNero
  padding: 30px 60px 67px 67px
  margin: 40px auto
  color: $colorWhite

  &__form
    p,
    span
      display: block
      text-align: center

    p
      font-size: 20px
      color: $colorNobel

    span
      font:
        size: 40px
        weight: bold
      color: $colorFuelYellow
      margin-bottom: 60px

    &-field
      width: 100%
      height: 60px
      margin-bottom: 30px
      border: 5px solid $colorBlack

      &--phone
        border-color: $colorFuelYellow

        input
          &::-webkit-input-placeholder
            color: $colorFuelYellow
          &::-moz-placeholder
            color: $colorFuelYellow
          &:-ms-input-placeholder
            color: $colorFuelYellow
          &:-moz-placeholder
            color: $colorFuelYellow

      &--email
        margin-bottom: 36px
      &--date
        margin-bottom: 60px

      input
        width: 100%
        line-height: (60px - 10)
        font:
          size: 24px
          weight: bold
        text-align: center
        color: $colorWhite
        background-color: transparent
        border: none


.popup-buble.mfp-bg
  background-color: rgba($colorBlack, 0.5)

  &:before
    z-index: 0
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../img/ImageBg_modal.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: top left

.mfp-close-btn-in .mfp-close
  color: #CCCCCC
