// HOMEPAGE

.modal
  position: relative
  max-width: 600px
  min-height: 400px
  background-color: $colorNero
  margin: 40px auto
  color: $colorWhite
  +rmin(1024)
    padding: 20px 40px 47px 47px
  +rmin(1440)
    padding: 25px 50px 57px 57px
  +rmin(1920)
    padding: 30px 60px 67px 67px

  &__form
    p,
    span
      display: block
      text-align: center

    p
      color: $colorNobel
      +rmin(1024)
        font-size: 16px
      +rmin(1440)
        font-size: 18px
      +rmin(1920)
        font-size: 20px

    span
      font:
        weight: bold
      color: $colorFuelYellow
      +rmin(1024)
        font-size: 30px
        margin-bottom: 40px
      +rmin(1440)
        font-size: 35px
        margin-bottom: 50px
      +rmin(1920)
        font-size: 40px
        margin-bottom: 60px

    &-field
      width: 100%
      height: 60px
      margin-bottom: 30px
      border: 5px solid $colorBlack

      &--phone
        border-color: $colorFuelYellow

        input
          &::-webkit-input-placeholder
            color: $colorFuelYellow
          &::-moz-placeholder
            color: $colorFuelYellow
          &:-ms-input-placeholder
            color: $colorFuelYellow
          &:-moz-placeholder
            color: $colorFuelYellow

      &--email
        +rmin(1024)
          margin-bottom: 30px
        +rmin(1440)
          margin-bottom: 33px
        +rmin(1920)
          margin-bottom: 36px

      &--date
        +rmin(1024)
          margin-bottom: 40px
        +rmin(1440)
          margin-bottom: 50px
        +rmin(1920)
          margin-bottom: 60px

      input
        width: 100%
        line-height: (60px - 10)
        font:
          weight: bold
        text-align: center
        color: $colorWhite
        background-color: transparent
        border: none
        +rmin(1024)
          font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px


.popup-buble.mfp-bg
  background-color: rgba($colorBlack, 0.5)

  &:before
    z-index: 0
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../img/ImageBg_modal.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: top left

.mfp-close-btn-in .mfp-close
  color: #CCCCCC
