.news
  &__wrap
    display: flex
    align-items: stretch
    justify-content: space-between
    margin-bottom: 60px

    &-elem
      cursor: pointer
      overflow: hidden
      position: relative
      margin: 15px
      background-color: transparent
      box-shadow: 0 5px 21px 9px rgba(0, 0, 0, 0.3)

      &:hover
        img
          transform: scale(1.05)
          transition: transform 0.5s ease-in-out

        .news__wrap-hidden
          opacity: 1
          visibility: visible
          transition: opacity .3s ease-in-out, visibility .3s ease-in-out

      &--alone
        max-width: 480px

      &--full
        max-width: 1020px

      img
        z-index: 0
        position: relative
        max-width: 100%
        transition: transform 0.5s ease-in-out

    &-hidden
      opacity: 0
      visibility: hidden
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.75)
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out

      p
        font:
          weight: bold
        text-align: center
        color: $colorFuelYellow
        text-shadow: 0 0 48px rgba(0, 0, 0, 0.4)
        font-size: 25px
        +rmin(1440)
          font-size: 30px
        +rmin(1920)
          font-size: 40px