.news
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 60px

    &-elem
      cursor: pointer
      position: relative
      width: 480px
      height: 480px
      box-shadow: 0 5px 21px 9px rgba(0, 0, 0, 0.3)
      &:hover
        .news__wrap-hidden
          opacity: 1
          visibility: visible
          transition: opacity .3s ease-in-out, visibility .3s ease-in-out

      &--0
        background-image: url("../img/ImagePreview-0_news.jpg")
        background-repeat: no-repeat
        background-size: cover
      &--1
        background-image: url("../img/ImagePreview-1_news.jpg")
        background-repeat: no-repeat
        background-size: cover
      &--2
        background-image: url("../img/ImagePreview-2_news.jpg")
        background-repeat: no-repeat
        background-size: cover
      &--full
        width: 1020px
        background-image: url("../img/ImagePreview-full_news.jpg")
        background-repeat: no-repeat
        background-size: cover

    &-hidden
      opacity: 0
      visibility: hidden
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.75)
      transition: opacity .3s ease-in-out, visibility .3s ease-in-out

      p
        font:
          weight: bold
          size: 40px
        text-align: center
        color: $colorFuelYellow
        text-shadow: 0 0 48px rgba(0, 0, 0, 0.4)