// PROGRAMS

.programs
  &__main
    display: flex
    align-items: center
    background-color: $colorBlack
    background-image: url("../img/ImageBgMain_programs.jpg")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-attachment: fixed
    min-height: 760px
    +rmin(1440)
      min-height: 860px
    +rmin(1920)
      min-height: 960px

  &__wrap
    background-color: $colorNero
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3)
    padding:
      top: 70px
      bottom: 70px
    +rmin(1440)
      padding:
        top: 80px
        bottom: 80px
    +rmin(1920)
      padding:
        top: 90px
        bottom: 90px

  &__container
    overflow: hidden
    position: relative
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3)
    margin-bottom: 93px
    +rmin(1440)
      margin-bottom: 103px
    +rmin(1920)
      margin-bottom: 113px


    &-video
      z-index: 0
      position: relative
      top: 0
      left: 0
      width: 100%
      height: 100%
      &:before
        content: ""
        z-index: 1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($colorBlack, 0.5)

      img
        z-index: 0
        position: relative
        max-width: 100%

    &-info
      z-index: 1
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center

      p
        margin-bottom: 10px
        font:
          weight: bold
        text-align: center
        font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px

    &-time
      margin-top: 30px
      text-align: center

      i,
      span
        display: inline-block
        vertical-align: middle
      i
        margin-right: 30px
      span
        font-size: 25px
        +rmin(1440)
          font-size: 30px
        +rmin(1920)
          font-size: 40px

    &-icon
      display: inline-block
      vertical-align: middle

    &-hover
      opacity: 0
      visibility: hidden

  &__block
    display: flex
    margin-bottom: 93px
    +rmin(1440)
      margin-bottom: 103px
    +rmin(1920)
      margin-bottom: 113px


    &--reverse
      flex-direction: row-reverse

    &--left
      width: 100%
      max-width: 600px
      margin-right: 120px
      +rmin(1440)
        margin-right: 150px
      +rmin(1920)
        margin-right: 180px

      .programs__block--reverse &
        margin:
          right: 0
          left: 120px
        +rmin(1440)
          margin-left: 150px
        +rmin(1920)
          margin-left: 180px

      > p
        color: $colorNobel
        font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px

        .programs__block--reverse &
          text-align: right

    &--right
      width: 100%
      padding-top: 30px

      > p
        margin-bottom: 80px
        font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px

    &-video
      overflow: hidden
      position: relative
      width: 100%
      margin-bottom: 10px
      background-color: $colorBlack
      box-shadow: 0 5px 21px 9px rgba(0, 0, 0, 0.3)
      height: 500px
      +rmin(1440)
        height: 550px
      +rmin(1920)
        height: 600px

      img
        z-index: 0
        position: absolute
        max-width: 100%
        max-height: 100%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    &-header
      overflow: hidden
      margin-bottom: 40px
      +rmin(1440)
        margin-bottom: 50px
      +rmin(1920)
        margin-bottom: 60px

      > h4,
      > .programs__block-time
        display: inline-block
        vertical-align: middle

      h4
        min-width: 450px
        margin: 0
        font:
          weight: bold
        color: $colorFuelYellow
        font-size: 25px
        +rmin(1440)
          font-size: 40px
        +rmin(1920)
          font-size: 40px

    &-time
      i,
      span
        display: inline-block
        vertical-align: middle
      i
        margin-right: 30px
      span
        color: $colorNobel
        font-size: 30px
        +rmin(1440)
          font-size: 35px
        +rmin(1920)
          font-size: 40px

    &-icon
      display: inline-block
      vertical-align: middle

  &__suit
    overflow: hidden

    img
      display: block
      max-width: 100%
      height: auto

    &-title
      margin-bottom: 30px
      font:
        weight: bold
      color: $colorFuelYellow
      text-align: center
      font-size: 30px
      +rmin(1440)
        font-size: 35px
      +rmin(1920)
        font-size: 40px

    &-item
      overflow: hidden
      margin:
        top: 30px
        left: 20px
        right: 20px
        bottom: 30px
      box-shadow: 0 5px 21px 9px rgba(0, 0, 0, 0.3)
      width: 420px
      +rmin(1440)
        width: 450px
      +rmin(1920)
        width: 480px

    .slick-dots
      margin-top: 30px
      padding-left: 0
      text-align: center

      li
        cursor: pointer
        vertical-align: middle
        width: 30px
        height: 30px
        margin-right: 45px
        background-color: $colorFuelYellow
        &:last-child
          margin-right: 0

        &.slick-active
          width: 60px
          height: 60px
          border: 15px solid $colorFuelYellow
          background-color: transparent


