// SCHOOL

.school
  &__main
    overflow: hidden
    position: relative
    background-color: $colorBlack
    min-height: 1080px

    .container
      z-index: 1
      position: absolute
      padding-top: 105px
      left: 0
      top: 0
      right: 0
      height: 100%

    &-bg
      z-index: 0
      position: absolute
      top: 0
      right: 0

    &-man
      z-index: 1
      position: absolute
      bottom: 0
      right: 40px

  &__wrap
    overflow: hidden

  &__row
    float: left
    clear: both
    width: 47%

    > p
      font-size: 40px
      padding-left: 30px
      margin-bottom: 10px

    &-text

      p
        font:
          size: 24px
          weight: normal
        display: block

        &:first-child
          margin:
            top: 70px
            bottom: 58px
        &:nth-child(2)
          margin-bottom: 58px
        &:last-child
          color: $colorFuelYellow
          margin-bottom: 84px

  .footer__question
    margin-bottom: 120px

  .social
    position: relative
    z-index: 2
