// SCHOOL

.school
  &__wrap
    &:last-child
      margin-top: 70px
      margin-bottom: 30px
      +rmin(1440)
        margin-top: 120px
        margin-bottom: 100px

  &__main
    overflow: hidden
    position: relative
    background-color: $colorBlack
    min-height: 100vh

    .container
      z-index: 1
      position: relative
      left: 0
      top: 0
      right: 0
      height: 100%
      margin-top: 40px
      +rmin(1440)
        margin-top: 95px
      +rmin(1920)
        margin-top: 105px

    &-bg
      z-index: 0
      position: absolute
      top: 0
      right: 0

    &-man
      z-index: 1
      position: absolute
      top: 0
      right: 0
      max-width: 50%
      min-height: 100%
      height: auto
      display: block
      +rmin(1440)
        max-width: 100%

  &__row
    width: 50%
    padding-left: 50px
    +rmin(1440)
      padding-left: 0

    > p
      padding-left: 30px
      margin-bottom: 10px
      font-size: 20px
      +rmin(1440)
        font-size: 35px
      +rmin(1920)
        font-size: 40px


    &-text
      p
        font:
          weight: normal
        display: block
        font-size: 14px
        letter-spacing: 1.1px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px


        &:first-child
          margin:
            top: 40px
            bottom: 30px
          +rmin(1440)
            margin:
              top: 60px
              bottom: 48px
          +rmin(1920)
            margin:
              top: 70px
              bottom: 58px

        &:nth-child(2)
          margin-bottom: 28px

        &:last-child
          color: $colorFuelYellow
          margin-bottom: 24px
          +rmin(1440)
            margin-bottom: 74px
          +rmin(1920)
            margin-bottom: 84px

  .footer__question
    margin-bottom: 100px
    +rmin(1440)
      margin-bottom: 110px
    +rmin(1920)
      margin-bottom: 120px

  .social
    position: relative
    z-index: 2
    margin-bottom: 100px
