// SEASON

.season
  &__main
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $colorBlack
    background-image: url("../img/ImageBgMain_season.jpg")
    background-repeat: no-repeat
    background-position: top left
    background-size: cover
    +rmin(1024)
      min-height: 760px
    +rmin(1440)
      min-height: 860px
    +rmin(1920)
      min-height: 960px

    &-hash
      font:
        weight: bold
      text-align: center
      margin-bottom: 10px
      +rmin(1024)
        font-size: 20px
      +rmin(1440)
        font-size: 22px
      +rmin(1920)
        font-size: 24px

  &__concept
    position: relative
    background-color: $colorBlack
    +rmin(1024)
      min-height: 1000px
    +rmin(1440)
      min-height: 1100px
    +rmin(1920)
      min-height: 1200px

    .container
      position: absolute
      z-index: 1
      left: 0
      top: 0
      right: 0
      height: 100%
      padding-top: 120px

      > p,
      > span
        +rmin(1024)
          font-size: 40px
        +rmin(1440)
          font-size: 50px
        +rmin(1920)
          font-size: 60px

      > span
        display: block
        font-weight: bold
        +rmin(1024)
          margin-bottom: 149px
        +rmin(1440)
          margin-bottom: 169px
        +rmin(1920)
          margin-bottom: 189px

    &-text
      p
        +rmin(1024)
          font-size: 20px
          margin-left: 30%
        +rmin(1440)
          font-size: 22px
          margin-left: 40%
        +rmin(1920)
          font-size: 24px
          margin-left: 50%

    &-cbtn
      margin-bottom: 64px

    &-image
      position: absolute

      &--left
        left: 0
        bottom: 0
      &--right
        top: 0
        right: 0
        +rmin(1024)
          display: none
        +rmin(1920)
          display: block

  &__box
    cursor: pointer
    overflow: hidden
    position: relative
    margin-bottom: 113px
    background-color: $colorBlack
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3)
    +rmin(1024)
      margin-bottom: 87px
      height: 400px
    +rmin(1440)
      margin-bottom: 100px
      height: 500px
    +rmin(1920)
      margin-bottom: 113px
      height: 600px

    &:hover
      .season__box-img
        &:before
          background-color: rgba($colorBlack, 0.75)
      .season__box-info
        opacity: 0
        visibility: hidden
        height: 0
      .season__box-hover
        opacity: 1
        visibility: visible
        height: 100%

    &-img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      &:before
        content: ""
        z-index: 1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba($colorBlack, 0.5)

      img
        z-index: 0
        position: absolute
        max-width: 100%
        max-height: 100%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    &-info
      z-index: 1
      position: relative
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center

      p
        margin-bottom: 10px
        font:
          weight: bold
        text-align: center
        +rmin(1024)
          font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px

    &-hover
      opacity: 0
      visibility: hidden
      z-index: 1
      position: relative
      display: flex
      flex-direction: column
      justify-content: center
      height: 0
      text-align: center

      p,
      span
        text-shadow: 0 0 36px rgba(0, 0, 0, 0.85)

      p
        margin-bottom: 10px
        +rmin(1024)
          font-size: 30px
        +rmin(1440)
          font-size: 35px
        +rmin(1920)
          font-size: 40px
      span
        color: $colorFuelYellow
        +rmin(1024)
          font-size: 20px
        +rmin(1440)
          font-size: 22px
        +rmin(1920)
          font-size: 24px


  &__container
    background-color: $colorNero
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.3)
    +rmin(1024)
      padding:
        top: 88px
        bottom: 88px
    +rmin(1440)
      padding:
        top: 100px
        bottom: 100px
    +rmin(1920)
      padding:
        top: 112px
        bottom: 112px

    &-tilte,
    &-subtilte
      +rmin(1024)
        font-size: 40px
      +rmin(1440)
        font-size: 50px
      +rmin(1920)
        font-size: 60px

    &-tilte
      +rmin(1024)
        margin-bottom: 22px
      +rmin(1440)
        margin-bottom: 26px
      +rmin(1920)
        margin-bottom: 30px

    &-subtilte
      color: $colorFuelYellow
      +rmin(1024)
        margin-bottom: 88px
      +rmin(1440)
        margin-bottom: 100px
      +rmin(1920)
        margin-bottom: 112px

  &__block
    position: relative
    +rmin(1024)
      margin-bottom: 81px
      padding:
        top: 40px
        bottom: 40px
    +rmin(1440)
      margin-bottom: 100px
      padding:
        top: 50px
        bottom: 50px
    +rmin(1920)
      margin-bottom: 119px
      padding:
        top: 60px
        bottom: 60px

    &:before,
    &:after
      content: ""
      position: absolute
      left: 0
      right: 0
      width: 90%
      height: 5px
      margin: auto
      background-color: $colorFuelYellow

    &:before
      top: 0

    &:after
      bottom: 0

    > p
      width: 80%
      margin:
        left: auto
        right: auto
      font:
        weight: normal
      text-align: center
      +rmin(1024)
        font-size: 20px
      +rmin(1440)
        font-size: 22px
      +rmin(1920)
        font-size: 24px

  &__elem
    display: flex
    justify-content: space-between
    +rmin(1024)
      margin-bottom: 100px
    +rmin(1440)
      margin-bottom: 120px
    +rmin(1920)
      margin-bottom: 140px

    > p
      font-size: 24px
      +rmin(1024)
        font-size: 20px
      +rmin(1440)
        font-size: 22px
      +rmin(1920)
        font-size: 24px

    &-container
      width: 100%
      max-width: 480px

      &:nth-child(2)
        margin:
          left: 30px
          right: 30px

    &-item
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      margin-bottom: 10px
      background-color: $colorBlack
      font:
        weight: bold
      color: $colorFuelYellow
      text-align: center
      +rmin(1024)
        height: 320px
        font-size: 25px
      +rmin(1440)
        height: 400px
        font-size: 30px
      +rmin(1920)
        height: 480px
        font-size: 40px

