// SOCIAL
// =========================

%fontPropertiesSocial
  color: $colorNobel
  font-weight: bold

// =========================

.social
  width: 100%
  text-align: center
  letter-spacing: 0

  &__name
    @extend %fontPropertiesSocial

    text-shadow: 0 0 36px rgba(0, 0, 0, 0.5)
    font-size: 13px
    transition: color .3s ease-in-out
    +rmin(1440)
      font-size: 18px
    +rmin(1920)
      font-size: 24px

    &:hover
      color: $colorFuelYellow
      transition: color .3s ease-in-out

  &__line
    @extend %fontPropertiesSocial

    font-size: 13px
    +rmin(1440)
      font-size: 18px
    +rmin(1920)
      font-size: 24px


