$sprite: (
	clock: (
		offset-x: -92px,
		offset-y: -130px,
		width: 60px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	clockWhite: (
		offset-x: 0px,
		offset-y: -260px,
		width: 60px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	email: (
		offset-x: -251px,
		offset-y: -200px,
		width: 30px,
		height: 22px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	email_hover: (
		offset-x: -211px,
		offset-y: -200px,
		width: 30px,
		height: 22px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	logotype: (
		offset-x: -130px,
		offset-y: 0px,
		width: 197px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	menuLogo: (
		offset-x: 0px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	next: (
		offset-x: -232px,
		offset-y: -130px,
		width: 60px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	pfd: (
		offset-x: 0px,
		offset-y: -130px,
		width: 82px,
		height: 120px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	phone: (
		offset-x: -130px,
		offset-y: -70px,
		width: 30px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	phone_hover: (
		offset-x: -250px,
		offset-y: -70px,
		width: 30px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	play: (
		offset-x: -70px,
		offset-y: -260px,
		width: 52px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	prev: (
		offset-x: -162px,
		offset-y: -130px,
		width: 60px,
		height: 60px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	telegram: (
		offset-x: -131px,
		offset-y: -200px,
		width: 30px,
		height: 26px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	telegram_hover: (
		offset-x: -171px,
		offset-y: -200px,
		width: 30px,
		height: 26px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	viber: (
		offset-x: -290px,
		offset-y: -70px,
		width: 29px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	viber_hover: (
		offset-x: -92px,
		offset-y: -200px,
		width: 29px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	whatsapp: (
		offset-x: -170px,
		offset-y: -70px,
		width: 30px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
	whatsapp_hover: (
		offset-x: -210px,
		offset-y: -70px,
		width: 30px,
		height: 30px,
		total-width: 327px,
		total-height: 320px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-clock {
		@include sprite(clock)
	}
	.icon-clockWhite {
		@include sprite(clockWhite)
	}
	.icon-email {
		@include sprite(email)
	}
	.icon-email_hover {
		@include sprite(email_hover)
	}
	.icon-logotype {
		@include sprite(logotype)
	}
	.icon-menuLogo {
		@include sprite(menuLogo)
	}
	.icon-next {
		@include sprite(next)
	}
	.icon-pfd {
		@include sprite(pfd)
	}
	.icon-phone {
		@include sprite(phone)
	}
	.icon-phone_hover {
		@include sprite(phone_hover)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-prev {
		@include sprite(prev)
	}
	.icon-telegram {
		@include sprite(telegram)
	}
	.icon-telegram_hover {
		@include sprite(telegram_hover)
	}
	.icon-viber {
		@include sprite(viber)
	}
	.icon-viber_hover {
		@include sprite(viber_hover)
	}
	.icon-whatsapp {
		@include sprite(whatsapp)
	}
	.icon-whatsapp_hover {
		@include sprite(whatsapp_hover)
	}
